services:
  app:
    build:
      context: ./docker/app
      dockerfile: Dockerfile
      args:
        PHP_VERSION: "8.3"
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
      - composer-cache:/tmp/composer-cache
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_URL: http://localhost:8080
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: appdb
      DB_USERNAME: appuser
      DB_PASSWORD: secret
      SCOUT_DRIVER: elastic
      ELASTIC_HOSTS: http://es:9200
    depends_on:
      - db
      - es
    networks:
      - backend

  web:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    container_name: laravel_web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - backend

  db:
    image: postgres:15
    container_name: laravel_db
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5439:5432"
    networks:
      - backend

  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.3
    container_name: laravel_es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - ingest.geoip.downloader.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - "9210:9200"
    networks:
      - backend
    deploy:
      resources:
        limits:
          memory: 2g                  # konténer mem limit (Docker Desktopnál globális limitet is emelj)
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 5s
      timeout: 3s
      retries: 20

networks:
  backend:

volumes:
  pgdata:
  esdata:
  composer-cache:
